<%inherit file="homepage/templates/app_base.htm" />


## You can only edit tis stuff in blocks
<%block name="title">Homepage</%block>


<%block name="site_center">
    <div class="site_center">
    Login Form


    </div>
    <form method="post">
        <table>  
            ${ form.as_table() }
        </table>
        <input type="submit" value="Submit">
    </form>
</%block>
