html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #777788;
}

.clearfix {
  clear: both;
}

header > .title {
  display: inline-block;
  color: #3771A1;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}

header img {
  position: left;
  left: 20%;
  margin-left: -175px;
}

#custom_bootstrap {
  text-emphasis-color: red;
}

.active {
  text-emphasis-color: red;
  font-weight: bold;
}

#header {
  background-color: orange;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#site_icon {
  position: absolute;
  background-color: red;
  width: 40px;
  height: 40px;
  left: 15%;
}

main {
  position: relative;
  margin: 0;
  padding: 0;
}
main #site_left {
  background-color: green;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 1000px;
}
main #site_center {
  position: relative;
  background-color: yellow;
  margin-left: 200px;
  margin-right: 200px;
  height: 1000px;
}
main #site_right {
  background-color: purple;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 1000px;
}

footer {
  position: relative;
  border-top: 1px solid #CCCCCC;
  text-align: right;
  background-color: burlywood;
}

footer a {
  display: inline-block;
  color: #777788;
  margin: 15px 10% 0 0;
}

/*# sourceMappingURL=base.scss.css.map */
