html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #777788;
}

.clearfix {
    clear: both;
}

// header {

//     text-align: center;
//     background-color: rgb(148, 67, 38);
// }

header > .title {
    display: inline-block;
    color: #3771A1;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}

header img {
    position: left;
    
    left: 20%;
margin-left: -175px;
}

// #maintanance_message {
//     padding-top: 10px;
//     padding-bottom: 10px;
//     position: absolute;
//     width: auto;
//     text-align: center;
//     margin: auto;
//     left: 35%;
//     right: 35%;
    


// }
#custom_bootstrap {
    text-emphasis-color: red;
}
.active {
    text-emphasis-color: red;
    font-weight: bold;
}
#header {
    background-color: orange;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
#site_icon {
    position: absolute;
    background-color: red;
    
    width: 40px;
    height: 40px;
    left: 15%;
   
}
$side_col_width: 200px;
$site_height: 1000px;
main {
    position: relative;
    margin: 0;
    padding: 0;

    #site_left {
        background-color: green;
        position: absolute;
        left: 0;
        top: 0;
        width: $side_col_width;
        height: $site_height;
        


    }
    #site_center {
        position: relative;
        background-color: yellow;
        margin-left: $side_col_width;
        margin-right: $side_col_width;
        height: $site_height;

    }
    #site_right {
        background-color: purple;
        position: absolute;
        right: 0;
        top: 0;
        width: $side_col_width;
        height: $site_height;
        

    }
}

footer {
    position: relative;
    border-top: 1px solid #CCCCCC;
    text-align: right;
    background-color: burlywood;
}

footer a {
    display: inline-block;
    color: #777788;
    margin: 15px 10% 0 0;
}

