<%inherit file="app_base.htm" />

<%block name="title">About</%block>

<%block name="content">
    <div class="content">
        <h3>What do you want to know about??</h3>
        <h4 class="utc-time">Current time in UTC: ${ utc_time }</h4>
    </div>
</%block>
