<%inherit file="base.htm" />


## You can only edit tis stuff in blocks
<%block name="title">Homepage</%block>

<%block name="site_content">
    <div class="content">
        <h3>Congratulations -- you've successfully created a new DMP app!</h3>
        <h4 class="utc-time">Current time in UTC: ${ utc_time }</h4>
    </div>
</%block>
