<%inherit file="base.htm" />

##menu here
<%block name="navbar_items">
    <li class="nav-about ${ 'active' if request.dmp.page == 'about' else ''}">
        <a class="nav-link" href="/homepage/about/">About</a>
        ## use the href style above because it is relative 
    </li>
    <li class="nav-contact ${ 'active' if request.dmp.page == 'contact' else ''}">
        <a class="nav-link" href="/homepage/contact/">Contact</a>
    </li>
</%block>

<%block name="site_left">
    Left base
</%block>
