## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>



##Icon on every page
## name on top bar
## menu with drop down
##Left area and right area that are 200px
## center area for remaining
##Footer
<html>
    <meta charset="UTF-8">
    <head>
        <%block name="base_title">
            <title>Jedi &mdash; <%block name="title"></%block></title>
        </%block>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="${ STATIC_URL }homepage/media/jquery-3.3.1.js"></script>
        <script src="${ STATIC_URL }homepage/media/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="${ STATIC_URL }homepage/media/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <script src="${ STATIC_URL }homepage/media/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" href="${ STATIC_URL }homepage/media/jedi.png" >

        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }

    </head>
    <body>
    
 <div id="test_base_maintanance_alert" class="alert alert-danger"> Hey there. the server is going down tonight! </div>

        <header>
         <div class="alert alert-warning" role="alert">
  This is a warning alert—check it out!
</div>
       
            ## <nav class="navbar navbar-expand-lg navbar-light bg-light">
            ##     <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            ##         <ul class="navbar-nav mr-4">
            ##         <li class="nav-item ${ 'active' if request.dmp.page == 'index' else ''}">
            ##             <a class="nav-link" href="#">Home1 <span class="sr-only">(current)</span></a>
            ##         </li>
            ##         <li class="nav-item">
            ##             <a class="nav-link" href="#">Link</a>
            ##         </li>
            ##         <li class="nav-item dropdown">
            ##             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ##             Dropdown
            ##             </a>
            ##             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            ##             <a class="dropdown-item" href="#">Action</a>
            ##             <a class="dropdown-item" href="#">Another action</a>
            ##             <div class="dropdown-divider"></div>
            ##             <a class="dropdown-item" href="#">Something else here</a>
            ##             </div>
            ##         </li>
            ##         <li class="nav-item">
            ##             <a class="nav-link disabled" href="#">Disabled</a>
            ##         </li>
            ##         </ul>
            ##         <form class="form-inline my-2 my-lg-0">
            ##         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            ##         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            ##         </form>
            ##     </div>
            ## </nav>
            <div id="header">
                <%block  name="site_icon"><img id="site_icon" src="${ STATIC_URL }homepage/media/saber.png" alt="python" /></%block>
                
                <div  id="navbar">
                    <ul class="nav justify-content-end">
                        
                        <li class="nav-home">
                            <a class="nav-link ${ 'active' if request.dmp.page == 'index' else ''}" href="/">Home</a>
                        </li>
                        <%block name="navbar_items"></%block>
                        
                        <li class="nav-item dropdown custom_bootstrap">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Welcome, User
                            </a>
                            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                            <a class="dropdown-item custom_bootstrap" href="#">Profile</a>
                            % if request.user.is_authenticated:

                                <li>
                                    <a class="dropdown-item custom_bootstrap " href="/account/logout">Log out</a>
                                </li>

                                ## ${ '<a class="dropdown-item custom_bootstrap " href="/account/login">Login</a>' if request.user.is_authenticated == False else ''}
                                ## ${ '<a class="dropdown-item custom_bootstrap " href="/account/logout">Log out</a>' if request.user.is_authenticated == True else ''}
                            % else:
                                <li>
                                   <a class="dropdown-item custom_bootstrap " href="/account/login">Login</a> 
                                </li>
                            % endif
                            ## <div class="dropdown-divider"></div>
                            ## <a class="dropdown-item" href="#">Something else here</a>
                            ## </div>
                       </li>
                        
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <div id ="site_left">
                <%block name="site_left">
                    Left
                </%block>
            </div>
            ## <div id ="site_content">
            ##     <%block name="site_content">
            ##         content1
            ##     </%block>
            ## </div>

            <div id ="site_center">
                <%block name="site_center">
                    Center
                </%block>
            </div>
            <%block name="site_content"></%block>

            <div id ="site_right">
                <%block name="site_right">
                    RIght
                </%block>
            </div>
        </main>

        <footer>
        <div id="footer">
            <%! from datetime import datetime %>
            <br>
            <p class="text-center" >&copy; copyright  ${ datetime.today().strftime("%Y") }
            


            

            
            </div>
        </footer>

    </body>
</html>
