<%inherit file="app_base.htm" />


## You can only edit tis stuff in blocks
<%block name="title">Contact</%block>

<%block name="site_center">
    <form method="POST">
    <p>Name: <input type="text" name="yourname" /></P>
    <input type="submit"/>
    </form>
</%block>
