<%inherit file="app_base.htm" />


## You can only edit tis stuff in blocks
<%block name="title">Homepage</%block>

## <%block name="site_content">
##     <div class="site_content">
##         <h3>Congratulations -- you've successfully created a new DMP app!</h3>
##         <h4 class="utc-time">Current time in UTC: ${ utc_time }</h4>
##     </div>
## </%block>
<%block name="navbar_items">
    <li class="nav-about ${ 'active' if request.dmp.page == 'about' else ''}">
        <a class="nav-link" href="/homepage/about/">About</a>
        ## use the href style above because it is relative 
    </li>
    <li class="nav-contact ${ 'active' if request.dmp.page == 'contact' else ''}">
        <a class="nav-link" href="/homepage/contact/">Contact</a>
    </li>
</%block>
<%block name="site_left">
    <div class="site_left">
        <p>Morbi eros leo, euismod vel tristique eget, laoreet placerat dui. Donec dapibus pretium lorem id vestibulum. Morbi laoreet non libero ut maximus.</p>
        <p>Donec cursus aliquam elit, et consectetur neque consectetur nec. Cras quam ante, blandit eget justo et, dictum convallis lorem.</p>
        
    </div>
</%block>

<%block name="site_right">
    <div class="site_right">
        <p>Vivamus nisi enim, tincidunt in iaculis euismod, imperdiet convallis risus.</p>
        <p>Donec urna massa, ornare ac elit eu, mollis facilisis orci.</p>
    </div>
</%block>
<%block name="site_center">
    <div class="site_center">
    <ul>
    <li>* 2 create a DMP project</li>
    <li>* 2 install Sass (SCSS)</li>
    <li>* 2 switch the `.css` files to `.scss`, and set up DMP to compile them</li>
    <li>* 2 ensure logging is happening in your console</li>
    <li>* 2 download Bootstrap and JQuery to your `homepage/media/` folder</li>
    <li>* 2 all links in your site should use static url: </li>
    </div>
</%block>
